{% extends '_base.html'%}
{% load static %}
{% block title%}
  {{ authors_detail_obj.author}}
{% endblock title %}

{% block content %}

<h1 class="my-2">{{ authors_detail_obj.author}}</h1>

  <h2>
    <small>{{authors_detail_obj.description}}</small>
  </h2>

<h3 class="mb-3">
  <a href="{{authors_detail_obj.url_web}}" class="">
  <small>Sitio web del autor</small>
  </a>
</h3>

<div class="row text-center text-lg-left">
  {% for author in authors_detail_obj.pictures.all %}

    <div class="col-lg-3 col-md-4 col-6">
      <a href="{{author.url_pic}}" class="d-block mb-4">
        <img
          class="img-fluid img-thumbnail"
          src="{{author.url_pic}}"
          alt="{{author.title}}"
          title="{{author.autor}} - {{author.title}}"
        />
      </a>
        <div class="">
          <h6 class="card-subtitle mb-2 ml-1 text-muted">
            {{author.title}}
          </h6>

        </div>
    </div>

  {% endfor %}

</div>

{% endblock content %}
